{include file=comm/head.html}
<link rel="stylesheet" href="{pboot:sitepath}/static/wap/css/style.css" />
</head>

<body>
<!-- header -->
<header>
{include file=comm/header.html}
{include file=comm/slide.html}
{include file=comm/position.html}
{include file=comm/subnav.html}
<!-- main -->
<section class="main">
  <div class="container">
    <div class="section-title">
      <h2>{content:title}</h2>
      <div class="line"></div>
      <span>{content:subtitle}</span>
    </div>
    <div class="main-content">
      {content:content}
    </div>
    <!-- number -->
    <section class="number">
      <div class="row">
        <div class="col s4">
          <div class="number-content">
            <h3 class="num" data-num="10">10</h3><sup>+</sup><sub>年</sub>
            <h6>行业经验</h6>
          </div>
        </div>
        <div class="col s4">
          <div class="number-content">
            <h3 class="num" data-num="800">800</h3><sup>+</sup><sub>家</sub>
            <h6>企业选择</h6>
          </div>
        </div>
        <div class="col s4">
          <div class="number-content">
            <h3 class="num" data-num="360">360</h3><sup>+</sup><sub>个</sub>
            <h6>行业覆盖</h6>
          </div>
        </div>
      </div>
    </section>
    <!-- end number -->
  </div>
</section>
<!-- end main -->
{include file=comm/foot.html}
<script src="{pboot:sitepath}/static/wap/js/style.js"></script>
<script src="{pboot:sitepath}/static/wap/js/numscroll.js"></script>
</body>
</html>