{include file=comm/head.html}
<link rel="stylesheet" href="{pboot:sitepath}/static/wap/css/style.css" />
</head>

<body>
<!-- header -->
<header>
{include file=comm/header.html}
{include file=comm/slide.html}
{include file=comm/position.html}
{include file=comm/subnav.html}
<!-- main -->
<section class="main">
  <div class="container">
    <div class="section-title">
      <h2>{content:title}</h2>
      <div class="line"></div>
      <span>{content:subtitle}</span>
    </div>
    <div class="culture">
      <div class="culture-show owl-carousel owl-theme">
        <div class="culture-content">
          <i class="fa fa-heart fa-3x fa-fw" aria-hidden="true"></i>
          <h4>企业愿景</h4>
          <p>致力于帮助中国企业实现互联网 +</p>
        </div>
        <div class="culture-content">
          <i class="fa fa-paper-plane fa-3x fa-fw" aria-hidden="true"></i>
          <h4>企业使命</h4>
          <p>成就自己，为客户创造价值</p>
        </div>
        <div class="culture-content">
          <i class="fa fa-users fa-3x fa-fw" aria-hidden="true"></i>
          <h4>企业精神</h4>
          <p>用真诚服务客户，用品质成就自己</p>
        </div>
        <div class="culture-content">
          <i class="fa fa-bullhorn fa-3x fa-fw" aria-hidden="true"></i>
          <h4>企业口号</h4>
          <p>创新、诚信、激情、协作</p>
        </div>
        <div class="culture-content">
          <i class="fa fa-lightbulb-o fa-3x fa-fw" aria-hidden="true"></i>
          <h4>企业价值观</h4>
          <p>诚信为先，服务至上</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end main -->
{include file=comm/foot.html}
<script src="{pboot:sitepath}/static/wap/js/style.js"></script>
</body>
</html>