{include file=comm/head.html}
<link rel="stylesheet" href="{pboot:sitepath}/static/wap/css/style.css" />
</head>

<body>
<!-- header -->
<header>
{include file=comm/header.html}
{include file=comm/slide.html}
{include file=comm/position.html}
{include file=comm/subnav.html}
<!-- main -->
<section class="main">
  <div class="container">
    <div class="section-title">
      <h2>{sort:name}</h2>
      <div class="line"></div>
      <span>Online Message</span>
    </div>
    <div class="message">
      <form action="{pboot:httpurl}{pboot:msgaction}" method="post">
        <fieldset>
          <div class="form-field">
            <label for="contacts">联系人：<span>(*必填*)</span></label>
            <input type="text" name="contacts" required id="contacts" placeholder="请输入联系人" />
          </div>
          <div class="form-field">
            <label for="mobile">手机：<span>(*必填*)</span></label>
            <input type="text" name="mobile" required id="mobile" placeholder="请输入联系人手机" />
          </div>
          <div class="form-field">
            <label for="content" >留言内容：<span>(*必填*)</span></label>
            <textarea name="content" required id="content" placeholder="请输入留言内容"></textarea>
          </div>
          <div class="form-field">
            <label for="checkcode">验证码：</label>
            <input type="text" name="checkcode" required id="checkcode" placeholder="请输入验证码" class="form-checkcode" /><img title="点击刷新" src="{pboot:httpurl}{pboot:checkcode}" onClick="this.src='{pboot:checkcode}?'+Math.round(Math.random()*10);" />
          </div>
          <div class="form-field">
            <button type="submit" value="提交留言">提交留言</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
<!-- end main -->
{include file=comm/foot.html}
<script src="{pboot:sitepath}/static/wap/js/style.js"></script>
</body>
</html>