{include file=comm/head.html}
<link rel="stylesheet" href="{pboot:sitepath}/static/pc/css/main.css">
<link rel="stylesheet" href="{pboot:sitepath}/static/pc/css/style.css">
{include file=comm/top.html}
<header>
{include file=comm/header.html}
{include file=comm/banner.html}
{include file=comm/subnav.html}
{include file=comm/position.html}
<!-- main -->
<section class="main">
  <!-- about -->
  <div class="container">
    <div class="main-bg">
      <div class="main-title">
        <h2>{content:title}</h2>
        <p>{content:subtitle}</p>
      </div>
      <div class="about">
        {content:content}
      </div>
      <!-- number -->
      <div class="number">
        <ul class="clearfix">
          <li>
            <b><i id="number-1" data-sum="13">0</i><em>年</em></b>
            <p>互联网前沿技术经验</p>
          </li>
          <li>
            <b><i id="number-2" data-sum="3">0</i><sup>+</sup></b>
            <p>商标、专利、软件著作权</p>
          </li>
          <li>
            <b><i id="number-3" data-sum="360">0</i><em>行</em></b>
            <p>全行业覆盖</p>
          </li>
          <li>
            <b><i id="number-4" data-sum="800">0</i><sup>+</sup></b>
            <p>品牌公司的认可</p>
          </li>
          <li>
            <b><i id="number-5" data-sum="50000">0</i><em>家</em></b>
            <p>企业客户的选择</p>
          </li>
        </ul>
      </div>
      <!-- end number -->
    </div>
  </div>
  <!-- end about -->
</section>
<!-- end main -->
{include file=comm/foot.html}
<script src="{pboot:sitepath}/static/pc/js/main.js"></script>
<script src="{pboot:sitepath}/static/pc/js/number.js"></script>
<script src="{pboot:sitepath}/static/pc/js/plugins.js"></script>
</body>
</html>