{include file=comm/head.html}
<link rel="stylesheet" href="{pboot:sitepath}/static/pc/css/main.css">
<link rel="stylesheet" href="{pboot:sitepath}/static/pc/css/style.css">
{include file=comm/top.html}
<header>
{include file=comm/header.html}
{include file=comm/banner.html}
{include file=comm/subnav.html}
{include file=comm/position.html}
<!-- main -->
<section class="main">
  <div class="container">
    <div class="main-bg">
      <div class="main-title">
        <h2>{sort:name}</h2>
        <p>Development Course</p>
      </div>
      <div class="course">
        <ul>
          <div class="dotted"></div>
          {pboot:list order=date}
          <li>
            <h3>[list:date style=Y-m-d]</h3>
            <p>[list:title]</p>
          </li>
          {/pboot:list}
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end main -->
{include file=comm/foot.html}
<script src="{pboot:sitepath}/static/pc/js/main.js"></script>
<script src="{pboot:sitepath}/static/pc/js/plugins.js"></script>
</body>
</html>