{include file=comm/head.html}
<link rel="stylesheet" href="{pboot:sitepath}/static/pc/css/main.css">
<link rel="stylesheet" href="{pboot:sitepath}/static/pc/css/style.css">
{include file=comm/top.html}
<header>
{include file=comm/header.html}
{include file=comm/banner.html}
{include file=comm/subnav.html}
{include file=comm/position.html}
<!-- main -->
<section class="main">
  <div class="container">
    <div class="main-bg">
      <div class="main-title">
        <h2>{content:title}</h2>
        <p>{content:subtitle}</p>
      </div>
      <div class="culture">
        <ul>
          <li>
            <span>
              <i class="fa fa-heart fa-3x fa-fw" aria-hidden="true"></i>
            </span>
            <dl>
              <dt>企业愿景</dt>
              <dd>致力于帮助中国企业实现互联网 +</dd>
            </dl>
          </li>
          <li>
            <span>
              <i class="fa fa-paper-plane fa-3x fa-fw" aria-hidden="true"></i>
            </span>
            <dl>
              <dt>企业使命</dt>
              <dd>成就自己，为客户创造价值</dd>
            </dl>
          </li>
          <li>
            <span>
              <i class="fa fa-users fa-3x fa-fw" aria-hidden="true"></i>
            </span>
            <dl>
              <dt>企业精神</dt>
              <dd>用真诚服务客户，用品质成就自己</dd>
            </dl>
          </li>
          <li>
            <span>
              <i class="fa fa-bullhorn fa-3x fa-fw" aria-hidden="true"></i>
            </span>
            <dl>
              <dt>企业口号</dt>
              <dd>创新、诚信、激情、协作</dd>
            </dl>
          </li>
          <li>
            <span>
              <i class="fa fa-lightbulb-o fa-3x fa-fw" aria-hidden="true"></i>
            </span>
            <dl>
              <dt>企业价值观</dt>
              <dd>诚信为先，服务至上</dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end main -->
{include file=comm/foot.html}
<script src="{pboot:sitepath}/static/pc/js/main.js"></script>
<script src="{pboot:sitepath}/static/pc/js/plugins.js"></script>
</body>
</html>