{include file=comm/head.html}
<link rel="stylesheet" href="{pboot:sitepath}/static/pc/css/main.css">
<link rel="stylesheet" href="{pboot:sitepath}/static/pc/css/style.css">
{include file=comm/top.html}
<header>
{include file=comm/header.html}
<!-- banner -->
<section class="banner">
  <img src="{pboot:sitepath}/static/pc/images/search.jpg" alt="搜索" />
  <div class="container">
    <div class="banner-title">
      <form action="{pboot:scaction}" method="get" class="search">
			  <input type="text" name="keyword" placeholder="请输入关键词">
        <input type="hidden" name="field" value="title">
        <input type="hidden" name="field" value="content">
        <button class="search-btn" type="submit">搜索</button>
      </form>
    </div>
  </div>
</section>
<!-- end banner -->
<!-- subnav -->
<section class="subnav">
  <div class="container">
    <ul>
      {pboot:nav num=5 parent=19}
      <li {pboot:if('[nav:scode]'=='{sort:scode}')} class="cur" {/pboot:if}>
        <a href="[nav:link]">[nav:name]</a>
      </li>
      {/pboot:nav}
    </ul>
  </div>
</section>
<!-- subnav end -->
{include file=comm/position.html}
<!-- main -->
<section class="main">
  <div class="container">
    <div class="main-bg">
      <div class="cases clearfix">
        <ul class="mtp">
          {pboot:search num=12 order=sorting field='title|content'}
          <li>
            <div class="cases-images" onmouseenter="boxMoveUp(this)" onmouseleave="boxMoveDown(this)">
              <a href="[search:link]">
                <img src="[search:ico]" width="340" height="auto" alt="[search:title]" />
              </a>
            </div>
            <div class="cases-text">
              <h3><a href="[search:link]" title="[search:title]">[search:title len=30]</a></h3>
              <p>[search:description len=30]</p>
            </div>
            <div class="cases-date">
              <div class="cases-time">[search:date style=Y-m-d]</div>
              <div class="cases-type">
                <span>[search:ext_type]</span>
                <span>[search:ext_color]</span>
              </div>
            </div>
          </li>
          {/pboot:search}
        </ul>
      </div>
      {include file=comm/page.html}
    </div>
  </div>
</section>
<!-- end main -->
{include file=comm/foot.html}
<script src="{pboot:sitepath}/static/pc/js/main.js"></script>
<script src="{pboot:sitepath}/static/pc/js/plugins.js"></script>
</body>
</html>