{include file=comm/head.html}
<link rel="stylesheet" href="{pboot:sitepath}/static/pc/css/main.css">
<link rel="stylesheet" href="{pboot:sitepath}/static/pc/css/style.css">
{include file=comm/top.html}
<header class="head">
{include file=comm/header.html}
{include file=comm/position.html}
<!-- main -->
<section class="main">
  <div class="container">
    <div class="main-bg">
      <div class="solution">
        <div class="solution-desc">
          <h3>方案概述</h3>
          <div class="detail-info">
            <span><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>发布时间：{content:date}</span>
            <span><i class="fa fa-user-o fa-fw" aria-hidden="true"></i>作者：{content:author}</span>
            <span><i class="fa fa-link fa-fw" aria-hidden="true"></i>来源：{content:source}</span>
            <span><i class="fa fa-eye fa-fw" aria-hidden="true"></i>浏览量（{content:visits}）</span>
          </div>
          <h4>{content:title}</h4>
          <div class="solution-summ">
            摘要：{content:description}
          </div>
          {content:content}
        </div>
        <div class="solution-desc">
          <h3>系统特色</h3>
          <div class="system">
            <article>
              <figure>
                <i class="fa fa-envelope-o fa-3x fa-fw" aria-hidden="true"></i>
                <figcaption>
                  <h4>留言发送到邮箱</h4>
                  <p>系统支持留言信息发送到多个邮箱的，有留言第一时间知晓</p>
                </figcaption>
              </figure>
            </article>
            <article>
              <figure>
                <i class="fa fa-language fa-3x fa-fw" aria-hidden="true"></i>
                <figcaption>
                  <h4>多语言区域建站</h4>
                  <p>系统支持多语言多区域建站并支持绑定域名，支持配置不同模板、基础信息及内容</p>
                </figcaption>
              </figure>
            </article>
            <article>
              <figure class="system-top">
                <i class="fa fa-tablet fa-3x fa-fw" aria-hidden="true"></i>
                <figcaption>
                  <h4>独立手机版或自适应</h4>
                  <p>支持独立手机版建站或自适应手机版建站，满足个性化需要</p>
                </figcaption>
              </figure>
            </article>
            <article>
              <figure class="system-top">
                <i class="fa fa-link fa-3x fa-fw" aria-hidden="true"></i>
                <figcaption>
                  <h4>小程序、APP等程序对接</h4>
                  <p>系统提供大量HTTP接口，支持小程序、APP、Ajax等方式数据调用</p>
                </figcaption>
              </figure>
            </article>
          </div>
        </div>
        <div class="solution-desc">
          <h3>服务流程</h3>
          <div class="process">
            <ul>
              <li>
                <a href="javascript:void(0)" title="需求沟通">
                  <span><i class="fa fa-users fa-3x fa-fw" aria-hidden="true"></i></span>
                  <h4>需求沟通</h4>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" title="确认报价">
                  <span><i class="fa fa-book fa-3x fa-fw" aria-hidden="true"></i></span>
                  <h4>确认报价</h4>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" title="支付款项">
                  <span><i class="fa fa-pencil-square-o fa-3x fa-fw" aria-hidden="true"></i></span>
                  <h4>支付款项</h4>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" title="设计制作">
                  <span><i class="fa fa-laptop fa-3x fa-fw" aria-hidden="true"></i></span>
                  <h4>设计制作</h4>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" title="整站测试">
                  <span><i class="fa fa-code fa-3x fa-fw" aria-hidden="true"></i></span>
                  <h4>整站测试</h4>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" title="细节微调">
                  <span><i class="fa fa-bug fa-3x fa-fw" aria-hidden="true"></i></span>
                  <h4>细节微调</h4>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" title="部署上线">
                  <span><i class="fa fa-internet-explorer fa-3x fa-fw" aria-hidden="true"></i></span>
                  <h4>部署上线</h4>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" title="售后维护">
                  <span><i class="fa fa-shield fa-3x fa-fw" aria-hidden="true"></i></span>
                  <h4>售后维护</h4>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="solution-desc">
          <h3>服务须知</h3>
          <div class="faqs">
            <dl>
              <dt>做一个网站需要多少钱？</dt>
              <dd>网站属于定制服务，每个网站的需求不尽相同，对展示要求及品质要求也不一，便宜的一般几百块，甚至更低，贵的可能上万元，甚至更高。</dd>
            </dl>
            <dl>
              <dt>做一个网站需要多长时间？</dt>
              <dd>具体时间长短需要根据网站的难易度，进行工作量评估；展示型企业站一般在3~5个工作日，功能性网站一般在7个工作日左右，甚至更长。</dd>
            </dl>
            <dl>
              <dt>个人可以做网站吗？步骤是什么</dt>
              <dd>你好！个人是可以做网站的。做网站基本流程是域名+空间+程序+开发，具体流程参考帮助中心：如何建立自己的网站,快速创建网站8个步骤。</dd>
            </dl>
            <dl>
              <dt>你们是个人还是公司？</dt>
              <dd>我们是技术工作室形式，团队目前大概在10人左右，有专职的售前、售后、开发人员、备案专员等，为您提供最完善的全方位服务。</dd>
            </dl>
            <dl>
              <dt>你们这边帮助客户备案吗？</dt>
              <dd>一站式建站是非常利于您运营的，有一个稳定的空间和好的技术支持团队至关重要，直接关系到您的网站运营的成功与否。在我们这边购买域名和空间则有备案专员免费协助指导备案的。</dd>
            </dl>
          </div>
        </div>
        <!--<div class="qrcode">
          {pboot:qrcode string={content:link}}
          <p>扫一扫，关注我们</p>
        </div> -->
        <div class="tags">
          {pboot:tags id={content:id} scode={sort:tcode}}
          <a href="[tags:link]" title="[tags:text]">[tags:text]</a>
          {/pboot:tags}
        </div>
        <div class="likes">
					<div class="likes-icon">
            <a href="{content:likeslink}" title="点赞">
              <i class="fa fa-thumbs-up fa-3x fa-fw" aria-hidden="true"></i>
            </a>
          </div>
          <div class="likes-num">{content:likes}</div>
				</div>
        {include file=comm/piece.html}
        <div class="solution-tips">
          <h3>相关方案</h3>
          <ul>
            {pboot:list scode={sort:scode} num=10 order=date}
            <li>
              <a href="[list:link]" title="[list:title]">[list:title len=30]</a>
            </li>
            {/pboot:list}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- main end -->
{include file=comm/foot.html}
<script src="{pboot:sitepath}/static/pc/js/main.js"></script>
<script src="{pboot:sitepath}/static/pc/js/plugins.js"></script>
</body>
</html>