{include file=comm/head.html}
<link rel="stylesheet" href="{pboot:sitepath}/static/pc/css/main.css">
<link rel="stylesheet" href="{pboot:sitepath}/static/pc/css/style.css">
{include file=comm/top.html}
<header>
{include file=comm/header.html}
{include file=comm/banner.html}
{include file=comm/position.html}
<!-- main -->
<section class="main">
  <div class="container">
    <div class="main-bg">
      <div class="solution-slide">
        <ul class="clearfix">
          {pboot:list order=date}
          <li>
            <span>
              <i class="fa fa-4x" aria-hidden="true"></i>
              <hr>
              <h3>[list:title]</h3>
              <p>[list:description len=25]</p>
              <a href="[list:link]" title="[list:title]">查看详情</a>
            </span>
            <img src="[list:ico]" alt="[list:title]" />
          </li>
          {/pboot:list}
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end main -->
{include file=comm/foot.html}
<script src="{pboot:sitepath}/static/pc/js/main.js"></script>
<script src="{pboot:sitepath}/static/pc/js/plugins.js"></script>
</body>
</html>